---
import SanityPortableText from "../../components/SanityPortableText.astro";
import Layout from "../../layouts/BaseLayout.astro";
import { getQuotePost } from "../../lib/api.js";

export async function getStaticPaths() {
  const posts = await getQuotePost();

  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { data: post },
    };
  });
}

const { data } = Astro.props;
---

<Layout>
  <article class="quote-wrapper">
    <header>
      <div class="sling">
        <h1>Sling</h1>
        <img src={data.clientLogo} />
      </div>
      <h2 class="quote-header">{data.title}</h2>
      <small class="prepared-on">Prepared {data.preparedOn}</small>
    </header>
    <SanityPortableText portableText={data.body} />
  </article>
</Layout>

<style lang="scss">
  header {
    margin-bottom: 5rem;
  }
  .sling {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    h1 {
      font-size: 96px;
      letter-spacing: -0.25rem;
      margin-right: 2rem;
    }
  }
  .quote-wrapper {
    width: min(90vw, 700px);
    margin: 5vh auto;
  }
  .quote-header {
    text-transform: uppercase;
  }
  .prepared-on {
    display: block;
    margin: 1rem 0;
    text-transform: uppercase;
  }
</style>
