@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./reset.css");

@font-face {
  font-family: "arial-narrow";
  src: url("../fonts/arial-narrow.woff2") format("WOFF2");
}

:root {
  --grey-50: #f6f6f6;
  --grey-100: #dbdbdb;
  --grey-200: #7c7c7c;
  --grey-300: #3e3e3e;
  --grey-400: #171717;
  --grey-400-opacity: #171717ce;
  --black: #000;
  --white: #fff;
  --green-300: #8f9d35;
}

.h1 {
  @apply font-sf-medium font-medium text-[26px] md:text-[42px] leading-[110%] tracking-[-.02em] lg:tracking-[-.01em];
}

.h2 {
  @apply font-sf-regular text-[24px] tracking-[-0.03rem] md:text-[30px] leading-[125%] sm:tracking-[-0.01rem];
}

.h3 {
  @apply font-sf-medium font-medium text-[24px] md:text-[30px] leading-[30px] md:leading-[37.5px] tracking-[0];
}

.h4 {
  @apply font-sf-medium text-[18px] md:text-[20px] leading-[24px] md:leading-[28px] tracking-[0];
}

.h5 {
  @apply font-arial-narrow text-[32px] md:text-[48px] leading-[40px] md:leading-[60px] tracking-[0];
}

.h6 {
  @apply font-sf-medium text-[16px] leading-[22.4px] tracking-[0];
}

.p {
  @apply font-sf-regular !font-medium text-[14px] md:text-[18px] leading-[160%];
}

.small {
  @apply font-sf-medium !font-medium text-[14px] md:text-[14px] leading-[20px] md:leading-[150%] tracking-[-0.005em];
}

.text-parent {
  @apply flex flex-col my-[15vh] lg:my-[25vh] max-w-[515px] gap-8 mx-auto;
}

.text-area {
  @apply h2 text-grey-200 text-pretty mx-auto w-[90%] my-2 lg:w-full;
}
