@import url("./reset.css");

@font-face {
  font-family: "arial-narrow";
  src: url("../fonts/arial-narrow.woff2") format("WOFF2");
}
@font-face {
  font-family: "items-thin";
  src: url("../fonts/items-thin.woff2") format("WOFF2");
}


h1 {
  font-family: "arial-narrow";
}
h2 {
  font-family: "arial-narrow";
}
h3 {
  font-family: "arial-narrow";
}
h4 {
  font-family: "arial-narrow";
}
h5 {
  font-family: "arial-narrow";
}
h6 {
  font-family: "arial-narrow";
}

p, ol, ul, li {
  font-family: "arial-narrow";
}

