---
import SlingLogo from "../SlingLogo.astro";
---

<footer
  class="h-[80vh] lg:h-[90vh] w-full flex items-center justify-center mix-blend-darken"
>
  <span
    class="mx-auto w-[70vw] max-w-[900px] shadow-[inset_0px_7px_35px_0px_rgba(255,255,255,0.50)] animate-pulse-shadow"
  >
    <svg
      class="w-full"
      viewBox="0 0 813 490"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_i_3498_6519)">
        <path
          d="M0 255.963L38.907 255.963C40.982 276.528 45.6508 292.589 52.9135 304.147C60.349 315.534 70.8971 324.712 84.5578 331.681C98.2185 338.649 113.608 342.133 130.727 342.133C155.282 342.133 174.303 336.27 187.791 324.542C201.452 312.645 208.282 297.263 208.282 278.397C208.282 267.35 205.775 257.747 200.76 249.589C195.918 241.261 188.483 234.462 178.453 229.194C168.597 223.925 147.155 216.531 114.127 207.014C84.7307 198.515 63.8074 189.932 51.3572 181.264C38.907 172.596 29.2235 161.634 22.3067 148.377C15.3899 134.95 11.9315 119.823 11.9315 102.997C11.9315 72.7437 21.8744 48.0142 41.7601 28.8085C61.6459 9.60284 88.4485 0 122.168 0C145.339 0 165.571 4.50399 182.863 13.512C200.328 22.5199 213.815 35.437 223.326 52.2633C233.009 69.0895 238.029 92.4593 238.72 115.234L199.204 115.234C197.129 90.9296 189.693 72.9136 176.897 61.1863C164.274 49.4589 146.463 43.5952 123.465 43.5952C100.121 43.5952 82.3098 48.779 70.0325 59.1467C57.7552 69.3444 51.6166 82.6015 51.6166 98.9178C51.6166 114.044 56.1125 125.772 65.1043 134.1C74.0962 142.428 94.3278 150.841 125.799 159.339C156.579 167.667 178.194 174.891 190.644 181.009C209.665 190.527 224.018 203.104 233.701 218.741C243.385 234.207 248.226 252.733 248.226 274.318C248.226 295.734 243.125 315.279 232.923 332.955C222.721 350.461 208.801 363.803 191.163 372.981C173.698 382.159 152.602 386.748 127.874 386.748C89.3131 386.748 58.5334 375.361 35.535 352.586C12.7096 329.811 0.864599 294.884 0 255.963Z"
          fill="#D8D8D8"></path>
        <path d="M271.207 380.12V6.37357H309.336V380.12H271.207Z" fill="#D8D8D8"
        ></path>
        <path
          d="M342.693 59.1467V6.37357H380.821V59.1467H342.693ZM342.693 380.12V109.37H380.821V380.12H342.693Z"
          fill="#D8D8D8"></path>
        <path
          d="M413.14 380.12V109.37H447.638V147.867C455.938 132.91 466.054 121.778 477.985 114.469C490.089 106.991 503.923 103.252 519.486 103.252C531.59 103.252 542.744 105.631 552.946 110.39C563.321 114.979 571.621 121.098 577.846 128.746C584.244 136.224 589 145.997 592.112 158.064C595.225 170.132 596.781 188.658 596.781 213.642V380.12H558.393V215.427C558.393 195.541 556.664 181.009 553.205 171.831C549.747 162.653 544.3 155.6 536.864 150.671C529.602 145.572 521.129 143.023 511.445 143.023C493.116 143.023 478.504 149.736 467.61 163.163C456.716 176.59 451.269 199.62 451.269 232.253V380.12H413.14Z"
          fill="#D8D8D8"></path>
        <path
          d="M621.578 402.555L658.928 402.555C660.658 417.001 665.845 434.337 674.491 441.306C683.137 448.444 695.155 452.014 710.545 452.014C727.318 452.014 740.633 448.019 750.489 440.031C760.519 432.213 767.349 420.486 770.98 404.849C773.228 395.331 774.352 375.276 774.352 344.683C766.052 356.41 756.715 365.248 746.339 371.197C735.964 377.145 724.465 380.12 711.842 380.12C684.866 380.12 662.473 368.902 644.663 346.467C624.258 320.633 614.056 286.046 614.056 242.706C614.056 213.642 618.552 188.233 627.543 166.478C636.535 144.722 648.294 128.746 662.819 118.548C677.517 108.351 693.945 103.252 712.101 103.252C725.416 103.252 737.52 106.481 748.414 112.94C759.481 119.398 769.251 129.086 777.724 142.003V109.37H813V343.408C813 385.049 809.542 414.707 802.625 432.383C795.708 450.229 784.382 464.251 768.646 474.448C752.91 484.816 733.976 490 711.842 490C682.618 490 660.139 482.267 644.403 466.8C628.667 451.334 621.059 429.918 621.578 402.555ZM653.481 239.901C653.481 275.423 659.447 301.342 671.379 317.659C683.31 333.975 697.922 342.133 715.214 342.133C732.506 342.133 747.204 334.145 759.308 318.169C771.413 302.192 777.465 276.783 777.465 241.941C777.465 207.948 771.24 182.709 758.79 166.223C746.339 149.566 731.209 141.238 713.398 141.238C697.49 141.238 683.483 149.566 671.379 166.223C659.447 182.709 653.481 207.268 653.481 239.901Z"
          fill="#D8D8D8"></path>
      </g>
      <defs>
        <filter
          id="filter0_i_3498_6519"
          x="0"
          y="0"
          width="813"
          height="497"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"></feBlend>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset dy="7"></feOffset>
          <feGaussianBlur stdDeviation="17.5"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"
          ></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"></feColorMatrix>
          <feBlend
            mode="normal"
            in2="shape"
            result="effect1_innerShadow_3498_6519"></feBlend>
        </filter>
      </defs>
    </svg>
  </span>
  <div
    class="absolute z-3 bottom-0 left-0 w-full h-[47vh] bg-gradient-to-b from-[rgba(240,240,240,0)] to-[#F1F1F1] to-[70%] animate-gradient-fade"
  >
  </div>
</footer>

<style>
  @keyframes pulse-shadow {
    0%, 100% {
      box-shadow: inset 0px 7px 35px 0px rgba(255,255,255,1);
    }
    50% {
      box-shadow: inset 0px 7px 25px 0px rgba(255,255,255,0);
    }
  }

  @keyframes gradient-fade {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
  }

  .animate-pulse-shadow {
    animation: pulse-shadow 1s ease-in-out infinite;
  }

  .animate-gradient-fade {
    animation: gradient-fade 6s ease-in-out infinite;
  }
</style>
