---
import PricingCard from "../PricingCard.astro";

const pricing = [
  {
    title: "Retainer",
    priceHeader: "Weekly",
    price: "$1,550",
    subtitle: "+ $550 for development",
    description: [
      {
        icon: "Pen",
        text: "Ideal for incremental project requests",
      },
      {
        icon: "Calendar",
        text: "7 day/week response time",
      },
      {
        icon: "Screen",
        text: "Frequent updates, fast delivery",
      },
    ],
    ctaLink: "/",
    ctaText: "Book a 15-min call",
    fill: "bg-gradient-to-b from-[#3AC37E] to-[#8ACF48] shadow-[0px_10px_70px_0px_rgba(93,185,42,0.40)]",
    shadow: "shadow-[0px_0px_50px_0px_rgba(93,185,42,0.40)]",
    rotate: "rotate-[-1deg] md:rotate-[-1.5deg]",
  },
  {
    title: "Custom Project",
    priceHeader: "Starting at",
    price: "$5,000",
    description: [
      {
        icon: "Pen",
        text: "Ideal for full-scope projects",
      },
      {
        icon: "Calendar",
        text: "7 day/week response time",
      },
      {
        icon: "Screen",
        text: "Bi-weekly check-ins",
      },
    ],
    ctaLink: "/",
    ctaText: "Book a 15-min call",
    fill: "bg-[linear-gradient(146deg,_#759ED4_2.76%,_#3D64E6_96.95%)] shadow-[0px_10px_70px_0px_rgba(61,100,230,0.40)]",
    shadow: "shadow-[0px_0px_60px_0px_rgba(61,100,230,0.40)]",
    rotate: "rotate-[1deg] md:rotate-[1.5deg]",
  },
];
---

<div
  class="flex flex-col justify-center lg:w-auto lg:flex-row gap-12 md:gap-20 w-full mx-auto"
>
  {
    pricing.map((entry) => {
      return <PricingCard {...entry} />;
    })
  }
</div>
