---
import Icon from "../icons/index.astro";
const { services } = Astro.props;
---

<div class="mx-auto flex flex-col items-center max-w-[575px] w-full">
  <div class="my-0 lg:my-[15vh] flex flex-col gap-8 items-center max-w-[515px] mx-auto">
    <h2 class="text-area">
      We excel in product design, development and strategy.
    </h2>
    <h2 class="text-area">
      Thanks to our trusted network of collaborators, we offer a
      wide range of services to deliver end-to-end solutions, no matter your
      needs.
    </h2>
    <h2 class="text-area">
      Consider us the newest addition to your team.
    </h2>
  </div>
  <div class="flex flex-wrap items-center justify-center gap-2">
    {
      services.map((entry) => {
        return (
          <div class="flex items-center gap-2 bg-grey-950 text-grey-100 py-2 pl-3 pr-4 rounded-xl shadow-[inset_0px_4px_4px_0px_rgba(255,255,255,0.15)]">
            <span class="text-grey-500">
              <Icon icon={entry.icon} />
            </span>
            <span class="p">{entry.title}</span>
          </div>
        );
      })
    }
  </div>
</div>
