---
const { testimonials } = Astro.props;
import TestimonialCard from "./TestimonialCard.astro";
---

<div
  class="my-12 lg:mt-[40vh] lg:mb-[25vh] flex flex-col gap-8 items-center max-w-[515px] mx-auto"
>
  <h2 class="text-area">
    In a sea of online content, we strive to create work that is thoughtful,
    intuitive and lasting.
  </h2>
  <h2 class="text-area">
    This means taking on projects we believe in, for people we care about.
  </h2>
  <h2 class="text-area">
    When projects are driven by strong foundations and positive relationships,
    the results are undeniable.
  </h2>
</div>

<div class="relative h-[80vh] overflow-hidden w-[90%] lg:w-full mx-auto">
  <div class="embla mt-16" id="testimonials-carousel">
    <div class="embla__container">
      {testimonials.map((entry) => <TestimonialCard entry={entry} />)}
    </div>
  </div>
  <div
    class="z-10 w-full h-[10vh] block lg:hidden bg-gradient-to-t from-transparent to-[#F1F1F1] absolute top-16 left-0 right-0"
  >
  </div>
  <div
    class="z-10 w-full h-[10vh] lg:h-[20vh] bg-gradient-to-b from-transparent to-[#F1F1F1] absolute bottom-0 lg:-bottom-5 left-0 right-0"
  >
  </div>
</div>

<style>
  .embla {
    --slide-spacing: 1rem;
    overflow: hidden;
    height: 100%;
  }

  .embla__container {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
</style>

<script>
  import EmblaCarousel from "embla-carousel";
  import AutoScroll from "embla-carousel-auto-scroll";

  const options = {
    loop: true,
    containScroll: false,
    axis: "y",
    startIndex: 0,
  };

  const autoScrollOptions = {
    speed: 0.75,
    stopOnInteraction: false,
    stopOnMouseEnter: false,
  };

  const carousel = document.querySelector("#testimonials-carousel");

  if (carousel) {
    const emblaInstance = EmblaCarousel(carousel, options, [
      AutoScroll(autoScrollOptions),
    ]);

    // Handle the loop manually with a smoother transition
    emblaInstance.on("select", () => {
      const lastSlide = emblaInstance.slideNodes().length - 1;
      if (emblaInstance.selectedScrollSnap() === lastSlide) {
        setTimeout(() => {
          emblaInstance.scrollTo(0, true);
        }, 2000);
      }
    });
  }
</script>
