---
import Layout from '../layouts/BaseLayout.astro'
---

<Layout>
	<h1 class="sling-header">Sling</h1>
</Layout>

<style>
	.sling-header {
		font-size: 210px;
		font-family: Arial, sans-serif;
	}
</style>