---
import Experience from "../components/experience.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <div class="top-banner">
    <p>Site under construction</p>
  </div>
  <Experience />
</Layout>

<style>
  .top-banner {
    width: 100%;
    height: 50px;
    background-color: #ecf96e;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  h1 {
    letter-spacing: -0.25rem;
    font-size: 96px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<script>
  import { animate } from "motion";

  const banner = document.querySelector(".top-banner");

  animate(
    banner,
    {
      opacity: 1,
    },
    {
      duration: 1,
      delay: 0.5,
    }
  );
</script>
