---
import Layout from "../layouts/BaseLayout.astro";
import InformationModalInner from "../components/informationModalInner.astro";
---

<Layout>
  <div class="homepage-parent">
    <div class="homepage-wrapper" id="wrapper">
      <div class="homepage-inner">
        <div class="logo-webgl-wrapper" id="sling-logo">
          <img src="/images/Sling.png" id="sling-logo" />
          <!-- <canvas class="webgl" id="webgl-canvas"></canvas> -->
        </div>
        <div class="button" id="info">
          <button id="info">Information</button>
        </div>
      </div>
    </div>

    <div class="info-modal" id="modal">
      <div class="info-modal-scroll-track">
        <div class="close-btn">
          <button id="close">Close</button>
          <InformationModalInner />
        </div>
      </div>
    </div>
  </div>
  <!-- <span class="email-copied" id="copy-success">Email copied!</span> -->
</Layout>

<style lang="scss">
  html {
    background: #ecf96e;
  }

  .homepage-parent {
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    height: 100svh;
    width: 100vw;
    perspective: 1000px;
    // transform: translateY(100%);
  }
  .homepage-wrapper {
    background: white;
    padding: 1.25rem;
    position: relative;
    height: 100svh;
    // max-width: 700px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    // border: 2px solid green;

    h3 {
      margin: 3rem 0;
    }
  }

  .homepage-inner {
    width: 100%; // new
    // border: 1px solid red;
    display: grid;
    place-items: center;
    position: relative;
    // margin-bottom: 9rem;

    img {
      position: relative;
      z-index: 3;
      width: 100%;
      margin: 0 auto;
      filter: invert(1);
      transform-origin: top;
    }
  }

  .logo-webgl-wrapper {
    // border: 1px solid;
    // margin: 0 auto;
    aspect-ratio: 3/2;
    position: relative;
    // height: 20vh;
    height: auto;
    width: 150px;
    width: 10vw;
    // width: 40%;
    display: grid;
    place-items: center;
  }
  .webgl {
    // transform: translateY(2rem);
    display: block;
    height: 100%;
    width: 100%;
  }

  .canvas-wrapper {
    // border: 1px solid red;
    position: relative;
    height: 33vh;
    width: 100%;
  }

  .homepage-wrapper,
  .info-modal {
    h3 {
      font-size: 22px;
      letter-spacing: unset;
    }
  }

  .button {
    z-index: 2;
    opacity: 0;
    position: absolute;
    // padding: 3rem 0;
    #info {
      // opacity: 0; // new
      // padding: 1rem 1.75rem; // old
      padding: 0.75rem 1rem;
      // display: inline-block; // old
      display: block;
      // width: 80%; // old
      width: auto;
      margin: 0 auto;
      // font-size: 23px; // old
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      // border-radius: 14px; // old
      border-radius: 8px;

      border: 1px solid #e1e1e1;

      background: linear-gradient(180deg, #f8f8f8 0%, #fefefe 100%);
      box-shadow:
        0px -1px 1px 1px #b0b0b0 inset,
        0px 0px 1px 0px #fcfcfc inset;
      cursor: pointer;
      transition: 0.1s all ease-in;
    }
  }

  .button:hover {
    #info {
      box-shadow:
        0px 1px 5px 1px #b0b0b0 inset,
        0px -1px 1px 0px #fcfcfc inset;
      transform: translateY(2px);
    }
  }

  .info-modal {
    overflow-x: hidden;

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    transform: translateY(100%);
    z-index: 10;
  }
  .info-modal-scroll-track {
    position: absolute;
    top: 3rem;
    left: 0%;
    background: white;
    height: auto;
    width: 100vw;
    border-radius: 3.846vw 3.846vw 0px 0px;
  }
  .close-btn {
    width: 100%;

    button {
      background: none;
      border: unset;
      font-family: "Arial-narrow";
      font-size: 32px;
      width: 100%;
      display: inline-block;
      padding: 1rem;
      padding-top: 3rem;
      cursor: pointer;
    }
  }
  @media (max-width: 992px) {
    .info-modal-scroll-track {
      top: 2rem;
      border-radius: 3.846vw 3.846vw 0px 0px;
    }
    .close-btn {
      button {
        padding: 1rem;
        font-size: 22px;
      }
    }
  }
</style>

<script src="../components/three/experience.js"></script>

<script>
  import { animate, spring } from "motion";

  const slingLogo = document.getElementById("sling-logo");
  const mainBg = document.getElementById("wrapper");
  const infoBtn = document.getElementById("info");
  const modal = document.getElementById("modal");
  const closeBtn = document.getElementById("close");

  animate(
    mainBg,
    {
      y: ["100vh", "0vh"],
      borderRadius: ["40px", "0px"],
    },
    {
      borderRadius: { easing: "ease-in-out", duration: 2.5, delay: 0.25 },
      y: {
        easing: spring({
          velocity: 2000,
          stiffness: 350,
          damping: 110,
          mass: 15,
        }),
        delay: 0.25,
      },
    }
  );

  animate(
    slingLogo,
    {
      y: ["100vh", "0vh"],
      scaleY: 1,
      scaleX: 1,
    },
    {
      scaleY: {
        easing: spring({
          velocity: 50,
          stiffness: 400,
          damping: 50,
          mass: 8,
        }),
      },
      scaleX: {
        easing: spring({
          velocity: 100,
          stiffness: 300,
          damping: 50,
          mass: 8,
        }),
      },
    }
  ).finished.then(() => {
    animate(
      infoBtn,
      {
        opacity: 1,
      },
      {
        // duration: 1,
        easing: spring({
          velocity: 50,
          stiffness: 10,
          damping: 2,
          mass: 10,
        }),
      }
    );
    animate(
      slingLogo,
      {
        y: "-100%",
      },
      {
        easing: spring({
          velocity: 10,
          stiffness: 100,
          damping: 20,
          mass: 2,
        }),
      }
    );
  });

  infoBtn.addEventListener("click", () => {
    animate(
      mainBg,
      {
        transform: "translate3d(0, -20px, -100px)",
        borderRadius: "3.846vw 3.846vw 0px 0px",
        opacity: 0.95,
        filter: "brightness(.95)",
      },
      {
        duration: 0.25,
        easing: "ease-in-out",
      }
    );
    animate(
      modal,
      {
        transform: "translateY(0%)",
      },
      {
        delay: 0,
        duration: 0.3,
        easing: "ease-out",
      }
    );
  });
  closeBtn.addEventListener("click", () => {
    animate(
      mainBg,
      {
        transform: "translateZ(0px)",
        opacity: 1,
        filter: "brightness(1)",
      },
      {
        delay: 0,
        duration: 0.25,
        easing: "ease-in-out",
      }
    );
    animate(
      mainBg,
      {
        borderRadius: "0px 0px 0px 0px",
      },
      {
        delay: 0.15,
        duration: 0.05,
        easing: "ease-in-out",
      }
    );
    animate(
      modal,
      {
        transform: "translateY(100%)",
      },
      {
        duration: 0.25,
        easing: "ease-in-out",
      }
    );
  });
</script>
