---
import Layout from "../layouts/BaseLayout.astro";
import InformationModalInner from "../components/informationModalInner.astro";
---

<Layout>
  <div class="homepage-parent">
    <div class="homepage-wrapper" id="wrapper">
      <div class="homepage-inner">
        <div class="webgl-wrapper" id="canvas-container">
          <canvas class="webgl" id="webgl-canvas"></canvas>
        </div>
        <h3>
          Sling was born out of our love of creating meaningful products, and
          our disdain for the status quo. In our years of experience working
          freelance and for big agencies, we've seen it all — so we found a
          better way to run a creative business, for us and for everyone we work
          with.
        </h3>
        <div class="button">
          <button id="info">More info</button>
        </div>
      </div>
    </div>

    <div class="info-modal" id="modal">
      <div class="info-modal-scroll-track">
        <div class="close-btn">
          <button id="close">Close</button>
          <InformationModalInner />
        </div>
      </div>
    </div>
  </div>
  <span class="email-copied" id="copy-success">Email copied!</span>
</Layout>

<style lang="scss">
  .email-copied {
    font-size: 96px;
    white-space: nowrap;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%) rotate(30deg);
    background: #ecf96e;
    padding: 3rem;
    font-family: "Arial-narrow";
    text-transform: uppercase;
  }

  html {
    background: #ecf96e;
  }
  .homepage-parent {
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    perspective: 1000px;
  }
  .homepage-wrapper {
    background: white;
    padding: 1.25rem;
    position: relative;
    height: 100svh;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    h3 {
      margin: 3rem 0;
    }
  }

  .homepage-inner {
    // border: 1px solid;
    margin-bottom: 9rem;
  }

  .webgl-wrapper {
    // border: 1px solid;
    margin: 0 auto;
    aspect-ratio: 3/2;
    position: relative;
    // height: 20vh;
    height: auto;
    width: 40%;
  }
  .webgl {
    transform: translateY(2rem);
    display: block;
    height: 100%;
    width: 100%;
  }

  .canvas-wrapper {
    // border: 1px solid red;
    position: relative;
    height: 33vh;
    width: 100%;
  }

  .homepage-wrapper,
  .info-modal {
    h3 {
      font-size: 22px;
      letter-spacing: unset;
    }
  }

  .button {
    // padding: 3rem 0;
    button {
      padding: 1rem;
      display: inline-block;
      width: 100%;
      font-size: 23px;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 14px;
      border: 1px solid #e1e1e1;
      background: linear-gradient(180deg, #f8f8f8 0%, #fefefe 100%);
      box-shadow:
        0px -1px 1px 1px #b0b0b0 inset,
        0px 0px 1px 0px #fcfcfc inset;
      cursor: pointer;
      transition: 0.25s all ease;
    }
  }

  .button:hover {
    button {
      box-shadow:
        0px 1px 5px 1px #b0b0b0 inset,
        0px -1px 1px 0px #fcfcfc inset;
      transform: translateY(2px);
    }
  }

  .info-modal {
    position: fixed;
    z-index: 2;
    top: 0%;
    left: 0;
    width: 100vw;
    // max-width: 700px;
    // margin: 0 auto;
    height: 100vh;
    overflow-y: scroll;
    transform: translateY(100%);
    z-index: 10;
  }
  .info-modal-scroll-track {
    position: absolute;
    top: 2rem;
    left: 0%;
    background: white;
    height: auto;
    width: 100vw;
    border-radius: 15px 15px 0px 0px;
    // box-shadow: 0px -5px 70px 0px rgba(0, 0, 0, 0.05);
  }
  .close-btn {
    width: 100%;

    button {
      background: none;
      border: unset;
      font-family: "Arial-narrow";
      font-size: 22px;
      width: 100%;
      display: inline-block;
      margin: 1rem auto;
      cursor: pointer;
    }
  }
</style>

<script src="../components/three/experience.js"></script>

<script>
  import { animate } from "motion";

  const mainBg = document.getElementById("wrapper");
  const infoBtn = document.getElementById("info");
  const modal = document.getElementById("modal");
  const closeBtn = document.getElementById("close");

  infoBtn.addEventListener("click", () => {
    animate(
      mainBg,
      {
        transform: "translate3d(0, -25px, -100px)",
        borderRadius: "15px 15px 0px 0px",
        opacity: 0.95,
        filter: "brightness(.95)",
      },
      {
        duration: 0.25,
        easing: "ease-in-out",
      }
    );
    animate(
      modal,
      {
        transform: "translateY(0%)",
      },
      {
        delay: 0,
        duration: 0.3,
        easing: "ease-out",
      }
    );
  });
  closeBtn.addEventListener("click", () => {
    animate(
      mainBg,
      {
        transform: "translateZ(0px)",
        opacity: 1,
        filter: "brightness(1)",
      },
      {
        delay: 0,
        duration: 0.25,
        easing: "ease-in-out",
      }
    );
    animate(
      mainBg,
      {
        borderRadius: "0px 0px 0px 0px",
      },
      {
        delay: 0.15,
        duration: 0.05,
        easing: "ease-in-out",
      }
    );
    animate(
      modal,
      {
        transform: "translateY(100%)",
      },
      {
        duration: 0.25,
        easing: "ease-in-out",
      }
    );
  });
</script>
