---
import { Image } from "astro:assets";

const slides = [
  {
    src: "/images/projects/sequence.png",
    title: "Sequence",
  },
  {
    src: "/images/projects/lazyrecords.png",
    title: "Lazyrecords",
  },
  {
    src: "/images/projects/notespace.png",
    title: "Notespace",
  },
  {
    src: "/images/projects/horizon.png",
    title: "Horizon",
  },
];
---

<div class="w-full" id="embla">
  <div class="embla__container flex">
    {
      slides.map((slide) => (
        <div class="embla__slide min-w-0 flex-[0_0_auto] h-[280px] lg:h-[850px]">
          <Image
            src={slide.src}
            alt={slide.title}
            width={1920}
            height={1080}
            quality="100"
            class="h-full w-auto object-contain rounded-md mx-auto shadow-[0px_0px_100px_-5px_rgba(0,0,0,0.10)]"
          />
          <div class="ml-2 small text-grey-300 translate-y-3">{slide.title}</div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .embla__container {
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .embla__slide {
    position: relative;
    padding: 1rem;
  }
</style>

<script>
  import EmblaCarousel from "embla-carousel";
  import AutoScroll from "embla-carousel-auto-scroll";

  const emblaNode = document.querySelector("#embla");
  const options = {
    loop: true,
    align: "center",
    dragFree: false,
    skipSnaps: false,
    inViewThreshold: 0,
  };

  const embla = EmblaCarousel(emblaNode, options, [
    AutoScroll({
      playOnInit: true,
      stopOnInteraction: false,
      speed: 0.5,
    }),
  ]);
</script>
