---
import { Image } from "astro:assets";

const slides = [
  {
    src: "https://utfs.io/f/uU55CSHY2nOZJHhxprWiFBCM7ojU9VpIYmufd3sXreO6hnbt",
    // src: "/images/projects/sequence2.png",
    title: "Sequence",
    type: "image",
  },
  {
    src: "https://utfs.io/f/uU55CSHY2nOZ6kC1BPgcqDNHchOJ4syvYzouQg5MwkEUtpFP",
    // src: "/images/projects/sequence1.png",
    title: "Sequence",
    type: "image",
  },
  {
    src: "https://utfs.io/f/uU55CSHY2nOZPt5K2Pik9ZnVM4Tza6vQhKIGJUypAbNd0oWF",
    // src: "/images/projects/lazyrecords.png",
    title: "Lazyrecords",
    type: "image",
  },
  {
    src: "https://utfs.io/f/uU55CSHY2nOZx9zwewV14wJPeTUEcfQHzL5AFNjZnhWbGg9t",
    // src: "/images/projects/notespace.png",
    title: "Notespace",
    type: "image",
  },
  {
    src: "https://utfs.io/f/uU55CSHY2nOZ0VjUX7MoQFWieS5JjcpCAfZBUn7hEDXO8vIP",
    // src: "/images/projects/horizon.png",
    title: "Horizon",
    type: "image",
  },
  {
    src: "https://utfs.io/f/uU55CSHY2nOZVT0rUtBq8p07USdHzkX2KbrcDWMQAC13tfLl",
    title: "See you soon",
    type: "video",
  },
  {
    src: "https://utfs.io/f/uU55CSHY2nOZ1Eyssl0bnrY7A4yEQoV98jgi0DvhBpH5WZtC",
    title: "See you soon",
    type: "video",
  },
  {
    src: "https://utfs.io/f/uU55CSHY2nOZivrPSPxJW2cXYzsF9MT83qvOmSrdDyRxu1EI",
    title: "Eight Branches",
    type: "image",
  },
];
---

<div class="w-full" id="embla">
  <div class="embla__container flex">
    {
      slides.map((slide) => (
        <div class="relative p-1 lg:p-2 min-w-0 flex-[0_0_auto] h-[65vw] lg:h-[550px] relative">
          <div class="shadow-3xl shadow-black/10 h-full">
            {slide.type === "video" ? (
              <>
                <video
                  src={slide.src}
                  autoplay
                  muted
                  loop
                  playsinline
                  class="relative h-full w-auto object-contain rounded-lg mx-auto"
                />
              </>
            ) : (
              <>
                <Image
                  src={slide.src}
                  alt={slide.title}
                  width={1920}
                  height={1250}
                  widths={[240, 400, 800, 1200, 1920]}
                  sizes="(max-width: 640px) 240px, (max-width: 768px) 400px, (max-width: 1024px) 800px, (max-width: 1280px) 1200px, 1920px"
                  format="webp"
                  loading="eager"
                  quality="100"
                  class="relative h-full w-auto object-contain rounded-lg mx-auto"
                />
              </>
            )}
          </div>
          <div class="select-nonerelative ml-2 small text-grey-300 translate-y-3">
            {slide.title}
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .embla__container {
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
</style>

<script>
  import EmblaCarousel from "embla-carousel";
  import AutoScroll from "embla-carousel-auto-scroll";

  const emblaNode = document.querySelector("#embla");
  const options = {
    loop: true,
    align: "center",
    dragFree: false,
    skipSnaps: false,
    inViewThreshold: 0,
  };

  const embla = EmblaCarousel(emblaNode, options, [
    AutoScroll({
      playOnInit: true,
      stopOnInteraction: false,
      speed: 0.5,
    }),
  ]);
</script>
