---

---

<div class=" w-full" id="embla">
  <div class="embla__container flex">
    {
      [
        {
          src: "/images/projects/lazyrecords.png",
          alt: "Lazy Records Project"
        },
        {
          src: "/images/projects/notespace.png", 
          alt: "Notespace Project"
        },
        {
          src: "/images/projects/sequence.png",
          alt: "Sequence Project"
        }
      ].map((slide) => (
        <div class="embla__slide min-w-0 flex-[0_0_auto] h-[300px] lg:h-[850px]">
          <img
            src={slide.src}
            alt={slide.alt}
            class="h-full w-auto object-contain rounded-md mx-auto shadow-[0px_0px_100px_-5px_rgba(0,0,0,0.10)]"
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  .embla__container {
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .embla__slide {
    position: relative;
    padding: 1rem;
  }
</style>

<script>
  import EmblaCarousel from "embla-carousel";
  import AutoScroll from "embla-carousel-auto-scroll";

  const emblaNode = document.querySelector("#embla");
  const options = { 
    loop: true,
    align: "start",
    skipSnaps: false
  };

  const embla = EmblaCarousel(emblaNode, options, [
    AutoScroll({
      playOnInit: true,
      stopOnInteraction: false,
      speed: 0.5
    })
  ]);
</script>
