---
const pastClients = [
  "Vice Media Group",
  "Condé Nast",
  "Adobe Lightroom",
  "AirBnb",
  "Frank & Oak",
  "Hennessy Canada",
];
const services = [
  "UI / UX Design",
  "Web Development",
  "Branding",
  "Brand Strategy",
  "Technical Consultation",
];
---

<div class="modal-inner">
  <h3>
    Sling partners with meaningful startups and impassioned individuals,
    reliably developing digital solutions and compelling online experiences.
    <br />
    <br />We believe in focusing on relationships that foster meaningful work
    and in giving projects the careful attention they deserve.
    <br />
    <br />In a sea of online content, we strive to create work that is
    thoughtful, intuitive and lasting. This means taking on projects we believe
    in, for people we care about.
  </h3>
  <div class="details">
    <h4>Past clients include:</h4>
    <div class="details-flex">
      {pastClients.map((client) => <span class="details-item">{client}</span>)}
    </div>
  </div>
  <div class="details">
    <h4>Services:</h4>
    <div class="details-flex">
      {services.map((service) => <span class="details-item">{service}</span>)}
    </div>
  </div>
  <div class="details">
    <h4>Contact us:</h4>
    <a href="mailto:hello@sling.online">hello@sling.online</a>
    <br />
    <a href="https://www.instagram.com/sling.online/">@sling.online</a>
  </div>
  <button class="contact">hello@sling.online</button>
</div>

<style lang="scss">
  .modal-inner {
    background: white;
    padding: 1.25rem;
  }

  .details {
    margin: 3rem 0;
    h4 {
      margin-bottom: 0.75rem;
      font-size: 20px;
      font-family: Arial, sans-serif;
      letter-spacing: -0.01rem;
    }
    a {
      font-size: 20px;
      font-family: "Arial-narrow";
    }
  }

  .details-flex {
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 9px;
    flex-wrap: wrap;
  }

  .details-item {
    border-radius: 4px;
    padding: 3px 9px;
    font-size: 15px;
    font-family: "Arial-narrow";
    background: var(--grey-50);
    color: var(--grey-300);
  }

  .contact {
    border-radius: 8px;
    border: 1.553px solid #e1e31b;
    background: linear-gradient(180deg, #f5f83d 0%, #e1e31b 100%);
    box-shadow:
      0px 0px 0.94452px 0.70839px rgba(255, 255, 255, 0.5) inset,
      0px -0.94452px 0.94452px 0.23613px #b3b515 inset;
    margin: 3rem auto;
    width: 80%;
    padding: 1rem;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #5a5b0b;
  }
</style>
