---
import SlingLogo from "./SlingLogo.astro";
---

<nav class="w-full flex items-center justify-between p-8 py-6 fixed top-0 z-50">
  <!-- <div class="">
    <SlingLogo
      color="black"
      classProps="w-20 hover:opacity-50 transition-opacity duration-300 cursor-pointer"
    />
  </div> -->
  <div class="h4">
    <a href="/" class="mr-[2px] hover:opacity-50 transition-opacity duration-300"
      >Work,
    </a>
    <a href="/" class="mr-[2px] hover:opacity-50 transition-opacity duration-300"
      >Pricing,
    </a>
    <a href="/" class="mr-[2px] hover:opacity-50 transition-opacity duration-300"
      >Contact
    </a>
  </div>
</nav>
