---
import SlingLogo from "./SlingLogo.astro";
---

<nav
  class="w-full flex items-center justify-between max-w-[90%] md:max-w-none mx-auto p-0 sm:p-8 py-6 fixed left-1/2 -translate-x-1/2 top-0 z-50"
>
  <div class="">
    <SlingLogo
      color="black"
      classProps="w-16 md:w-20 hover:opacity-50 transition-opacity duration-300 cursor-pointer"
    />
  </div>
  <div
    class="h4 rounded-lg bg-grey-950/15 backdrop-blur-2xl text-white px-4 py-2"
  >
    <!-- <a href="/" class="mr-[2px] hover:opacity-50 transition-opacity duration-300"
      >Work,
    </a> -->
    <a
      href="https://www.instagram.com/sling.online/"
      target="_blank"
      rel="noopener noreferrer"
      class="mr-[2px] hover:text-grey-50 transition-opacity duration-300"
      >Instagram,
    </a>
    <a
      href="https://cal.com/sling/meeting"
      target="_blank"
      rel="noopener noreferrer"
      class="mr-[2px] hover:text-grey-50 transition-opacity duration-300"
      >Contact
    </a>
  </div>
</nav>
