---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="https://i.imgur.com/32fDsD9.png" />
    <meta name="theme-color" content="#ecf96e" />
    <meta name="generator" content={Astro.generator} />
    <title>Sling</title>
  </head>
  <body>
    <slot />
  </body>
</html>
